@import "../Functions.scss";
@import "../Variables.scss";

.container {
  position: absolute;
  top: 0;
  z-index: 5;

  height: 100vh;
  width: inherit;

  display: flex;
  justify-content: center;

  > div {
    height: 100vh;
    @include FlexCenterCenter;
    animation: slide-top 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 1s;
  }
}

@keyframes slide-top {
  to {
    height: 20vh;
  }
}

@-webkit-keyframes slide-top {
  to {
    height: 20vh;
  }
}

@-moz-keyframes slide-top {
  to {
    height: 20vh;
  }
}
