@import "../Functions.scss";
@import "../Variables.scss";

.container {
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 5;

  height: 100vh;
  width: inherit;

  display: flex;
  justify-content: center;

  animation: disappear 1s ease;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 2s;

  > div {
    height: 100vh;
    @include FlexCenterCenter;
    animation: slide-top 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
}

@keyframes slide-top {
  to {
    height: 20vh;
  }
}

@keyframes disappear {
  to {
    position: absolute;
    background-color: transparent;
  }
}
