@import "../Functions.scss";
@import "../Variables.scss";

.container {
  width: inherit;
  height: auto;
  flex-direction: column;
  margin-bottom: 15vh;
  @include FlexCenterCenter;
  color: $dark_turq;

  h4:first-of-type {
    font-weight: 800;
  }

  > a {
    position: relative;
    margin: 5vh 0;
    display: block;
    font-weight: 300;
    background: #dbdbdb;
    padding: 0.75rem 2.5rem;
    color: $dark_turq;
    text-decoration: none;
    z-index: 4;
    > span {
      transition: transform 0.3s ease;
      display: inline;
      z-index: 5;
    }
    &::before {
      z-index: -1;
      transform: scaleX(0);
      transform-origin: bottom left;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 10% 10% 0;
      background-color: $dark_brown;
      display: block;
      position: absolute;
      transition: transform 0.3s ease;
    }
    &:hover {
      &::before {
        transform: scaleX(0.15);
      }
    }
    &:focus {
      > span {
        color: white;
      }
      &::before {
        transform: scaleX(1);
        border-radius: 0;
      }
    }
  }

  h4:last-of-type {
    margin-top: 10vh;
    font-weight: 500;
    a {
      font: inherit;
    }
  }
}
