@import "../Functions.scss";
@import "../Variables.scss";

.container {
  width: inherit;
  height: auto;
  flex-direction: column;
  margin: 15vh 0;
  @include FlexCenterCenter;
  button {
    appearance: none;
    outline: none;
    border: none;
    background: $main_grey;
    font-size: 1.5rem;
    padding: 0.2em 1em;
    font-weight: 300;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      border: 1px $main_black solid;
    }
  }
  > h4 {
    margin-top: 15vh;
    color: $main_black;
    font-weight: 300;
    font-size: 0.8rem;
    a {
      color: $main_black;
      appearance: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
