@import "../Functions.scss";
@import "../Variables.scss";

.container {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15vh;

  //mobile
  width: 80vw;
  > div {
    width: 70vw;
  }

  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    //desktop
    width: 30vw;
    > div {
      width: 25vw;
    }
  }
}

.img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //animation
  transform: translateY(10%);
  opacity: 0;
  animation: slide-top 2s ease;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 3s;

  //mobile
  height: 50vh;

  @media only screen and (min-width: 440px) {
    //desktop
    height: 30vw;
    @media only screen and (max-width: 1024px) and(orientation: portrait) {
      //tablet
      height: 60vh;
    }
  }
}

.info {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > div {
    display: flex;
    * {
      transform: translateY(20%);
      opacity: 0;
      animation: slide-top 2s ease;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-delay: 4s;
    }
  }

  span {
    font-weight: 200;
    margin-top: 0.2rem;
    font-size: 80%;
  }

  .title_description {
    flex-direction: column;
    text-align: start;
    h3 {
      font-weight: bold;
    }
  }

  .price_available {
    flex-direction: row;
  }
}

@keyframes slide-top {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
