@import "./Variables.scss";
@import "./Functions.scss";
@import url("https://use.typekit.net/hkg1whj.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  font-family: "bicyclette", sans-serif;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  color: $main_black;
}
